html, body
{
    height:99%;
    background-color:#333;
}
body
{
    min-width: 700px;
    position:relative;
    z-index:1;
}
h1
{
    color: #fff;
    font-size: 92pt;
    margin-bottom:20px;
    margin-top:0;
}
h2
{
    font-weight:normal;
    margin-left:230px;
    font-size:20px;
}
h3
{
    font-weight:normal;
    color: #dc1400;
}
h4
{
    font-weight:normal;
}
a
{
    color:white;
    text-decoration:none;
}
a:hover
{
    text-decoration:underline;
}
blockquote
{
    margin: 20px 20px;
}
.clear { clear: both; }
#asterisk
{
    z-index:-20;
    color:white;
    position:absolute;
    font-size:50em;
    font-family:"Monaco", "Consolas", monospace;
    opacity:0.15;
    top:-0.2em;
    left:0;
    cursor:default;
    height:700px;
    overflow:hidden;
}
#header
{
    font-family: 'Reenie Beanie';
    width:700px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    cursor:default;
    padding-bottom:35px;
    border-top: 1px solid #dc1400;
    border-bottom: 1px solid #dc1400;
    padding-top:40px;
    margin-top:40px;
    text-shadow:0 1px 0 black;
}
#by
{
    color: #fff;
    font-size: 24pt;
    float:left;
    text-shadow:0 1px 0 black;
}
#email
{
    color: #dc1400;
    font-size:24pt;
    float:right;
    text-shadow:0 1px 0 black;
}
#body
{
    margin-right:auto;
    margin-left:auto;
    padding-top:35px;
    width:700px;
    color:white;
    font-family:"Monaco", "Consolas", monospace;
    font-size:13px;
    padding-bottom:40px;
    border-bottom: 1px solid #dc1400;
    line-height:20px;
}
#posts
{
    list-style-type:none;
    float:left;
    width:200px;
    padding-left:0;
    cursor:default;
    margin-top:15px;
}
#posts li:first-child
{
    margin-top:0;
}
#posts .title
{
    color: #dc1400;
    margin-top:20px;
}
#posts li
{
    position:relative;
}
#posts .asterisk
{
    display:none;
    position:absolute;
    top:3px;
    left:-15px;
    font-size:20px;
}
#posts li:hover a
{
    text-decoration:none;
}
#posts li:hover .asterisk, #posts li.selected .asterisk
{
    display:block;
}
#posts li:active .asterisk, #posts li.selected .asterisk
{
    color: #dc1400;
}
#post
{
    margin-top:15px;
    float:right;
    width:470px;
    padding-left:30px;
}
#post .caps
{
    letter-spacing: 0.1em;
}
#post p
{
    margin-bottom:20px;
    text-align:justify;
}
#post a
{
    color: #dc1400;
}
#post ol
{
    margin-left:30px;
    list-style-type:decimal;
    margin-bottom:20px;
}
#post ul
{
    list-style-type: square;
    margin-left:17px;
    margin-bottom:20px;
}
#footer
{
    margin-top:10px;
    padding-bottom:40px;
    width:700px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#footer .info
{
    color:white;
    font-family:"Monaco", "Consolas", monospace;
    font-size:13px;
    margin-left:230px;
}
#footer a
{
    color: #dc1400;
}
::selection {
    background:red;
    text-shadow:none;
    color:white;
}
*:not(span):nth-child(2n)::selection {
    background:orange;
}
*:not(span):nth-child(3n)::selection {
    background:yellow;
}
*:not(span):nth-child(4n)::selection {
    background:green;
}
*:not(span):nth-child(5n)::selection {
    background:blue;
}
*:not(span):nth-child(6n)::selection {
    background:turquoise;
}
*:not(span):nth-child(7n)::selection {
    background:purple;
}
*::-moz-selection {
    background:red;
    text-shadow:none;
    color:white;
}
*:not(span):nth-child(2n)::-moz-selection {
    background:orange;
}
*:not(span):nth-child(3n)::-moz-selection {
    background:yellow;
}
*:not(span):nth-child(4n)::-moz-selection {
    background:green;
}
*:not(span):nth-child(5n)::-moz-selection {
    background:blue;
}
*:not(span):nth-child(6n)::-moz-selection {
    background:turquoise;
}
*:not(span):nth-child(7n)::-moz-selection {
    background:purple;
}
* { -webkit-tap-highlight-color: #FF5E99; } 
