* { -webkit-tap-highlight-color: #dc1400; } 
#asterisk { display:none }
body {
    padding: 0;
    margin:0;
    background-color:#222;
    color:#ddd;
    font-family:Helvetica;
    font-size:14px;
}
#header a h1 {
    padding:0;
    margin:0;
    background-color:#444;
    border-bottom:1px solid #000;
    color: #ddd;
    display:block;
    font-size:28px;
    padding:10px 0;
    text-align:center;
    text-shadow:0 1px 0 #000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
}
#header a:visited, #header a {
    text-decoration:none;
}
#by {
    float:left;
    margin:20px 10px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    text-shadow:0 1px 0 #000;
}
#email {
    float:right;
    margin:20px 10px;
    color:#dc1400;
    font-size:16px;
    font-weight:bold;
    text-shadow:0 1px 0 #000;
}
.asterisk {
    display:none;
}
#posts {
    list-style:none;
    margin:10px;
    padding:0;
    clear:both;
}
#posts ul {
    list-style:none;
    margin:0;
    padding:0;
}
#posts .title {
    text-align:center;
    font-size:20px;
    margin:20px 0 5px;
    font-weight:bold;
    text-shadow:0 1px 0 #000;
    color:#dc1400;
}
#posts li a {
    background-color:#777;
    border:1px solid #999;
    display:block;
    font-size:17px;
    font-weight:bold;
    margin-bottom:-1px;
    padding:12px 10px;
    text-decoration:none;
    color:#fff;
}
#posts ul li.selected a {
    color:#dc1400;
    background-color:#222;
}
#posts ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
#posts ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
#post {
    margin:10px 10px;
}
#post h2 {
    text-align:center;
    color:#dc1400;
}
#post a {
    color:#dc1400;
}
#post img {
    margin:auto auto;
}
#footer {
    padding:0;
    margin:0;
    background-color:#777;
    border-top:1px solid #000;
    color:#eee;
    display:block;
    padding:10px 0;
    text-align:center;
    font-weight:bold;
}
#footer a {
    color:#fff;
    text-decoration:none;
}
