* { -webkit-tap-highlight-color: #FF5E99; } 
#asterisk { display:none }
body {
    padding: 0;
    margin:0;
    background-color:#ddd;
    color:#222;
    font-family:Helvetica;
    font-size:14px;
}
#header a h1 {
    padding:0;
    margin:0;
    background-color:#ccc;
    border-bottom:1px solid #666;
    color: #222;
    display:block;
    font-size:26px;
    font-family:"Reenie Beanie";
    padding:10px 0;
    text-align:center;
    text-decoration:none;
}
