* { -webkit-tap-highlight-color: #FF5E99; } 
#asterisk { display:none }
body {
    padding: 0;
    margin:0;
    background-color:#ddd;
    color:#222;
    font-family:Helvetica;
    font-size:14px;
}
#header a h1 {
    padding:0;
    margin:0;
    background-color:#ccc;
    border-bottom:1px solid #666;
    color: #222;
    display:block;
    font-size:28px;
    font-family:"Reenie Beanie";
    padding:10px 0;
    text-align:center;
}
#header a:visited, #header a {
    text-decoration:none;
}
.asterisk {
    display:none;
}
#posts {
    list-style:none;
    margin:10px;
    padding:0;
}
#posts li a {
    background-color:#fff;
    border:1px solid #999;
    color:#222;
    display:block;
    font-size:17px;
    font-weight:bold;
    margin-bottom:-1px;
    padding:12px 10px;
    text-decoration:none;
}
