<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  {% if page.title == "Jeff Dickey" %}
  <title>Jeff Dickey</title>
  {% else %}
  <title>Jeff Dickey | {{ page.title }}</title>
  {% endif %}
  <link type="text/css" rel="Stylesheet" href="/css/reset.css" />
  <script type="text/javascript" src="/js/site.js"></script>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <link rel="shortcut icon" href="/img/favicon.png" />
  <meta property="fb:admins" content="42004440" />
  <meta property="og:site_name" content="jeffdickey.info">
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-16475858-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' rel='stylesheet' type='text/css' />
    <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <link href='/css/base.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="asterisk">*</div>
    <div id="header">
        <a href="/"><h1>Jeff Dickey</h1></a>
        <span id="by">I make things.</span>
        <span id="email">me@jeffdickey.info</span>
        <div class="clear"></div>
    </div>
    <div id="body">
        {% unless page.title == "Jeff Dickey" %}
        <h2>{{ page.title }}</h2>
        {% endunless %}
        <ul id="posts">
            {% if page.title == "Jeff Dickey" %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <a href="/">Jeff Dickey</a>
            </li>
            {% for post in site.categories.pages %}
            {% if post.title == page.title %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
            <li class="title">Projects</li>
            {% for project in site.categories.projects %}
            {% if project.title == page.title %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <a href="{{ project.url }}">{{ project.title }}</a>
            </li>
            {% endfor %}
            <li class="title">Thoughts</li>
            {% for thought in site.categories.thoughts %}
            {% if thought.title == page.title %}
            <li class="selected">
            {% else %}
            <li>
            {% endif %}
                <a href="{{ thought.url }}">{{ thought.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <div id="post">
            {{ content }}
            <!-- Words: {{ page.content | number_of_words }} -->
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer"></div>
</ul>
</body>
</html>
